.shoppingCart{
    background: black;
    border-radius: 50%;
    height:2em;
    width: 2em;
    transform: scale(2.1);
    position: relative;
    bottom:1.5em;
    display:flex;
    justify-content:center;
    align-items: center;
}

.shoppingCart img{
    position: relative;
    right: 0.2em;
    width: 3em;
}
.shoppingCart img:hover{
    transform: scale(1.05);
}
.shoppingCart img:active{
   transform: scale(1);
}